{{ template "chrome/head.html" .}}
{{ template "chrome/header.html" .}}

<div class="row">
    <div class="col-md-3">
	{{ template "chrome/product_slider.html" . }}

    {{$c := .Site.Indexes.categories}}
    {{range first 1 .Params.categories}}
    {{range index $c .}}
    <ul>
	<li><a href={{.Page.RelPermalink}}>{{.Page.Title}}</a></li>
    </ul>
    {{end}}
    {{end}}
    </div>

    <div class="col-md-9">
	{{ with .Params.thumbnail }}
	<div class="panel panel-default">
	    <div class="panel-heading"> 产品外观</div>
	    <div class="panel-body">
	<a href="#" class="thumbnail">
	    <img src="/product_img/{{.}}" alt="...">
	</a>
	    </div>
    </div>
	{{end}}

	<div class="panel panel-default">
	    <div class="panel-heading"> 产品说明 </div>
	    <div class="panel-body">
		{{ range .Params.contentimages }}
		<img src="/product_img/{{.}}">
		{{end}}
		{{.Content}}
	    </div>
	</div>
    </div>

</div>

{{ template "chrome/footer.html" .}}
