<footer>
    <div class="row">
	<hr>
	<div class="col-sm-12">
	    <span>&copy; 武汉冠龙顺兴流体商贸有限公司 2014</span> <span>地址:武汉市汉阳区人信汇5栋3011室.</span>
	</div>
    </div>
</footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">kfguin="411871860";eid="";ws="whglsx.com"; companyname="武汉冠龙顺兴流体商贸有限"; welcomeword="您好，请问有什么可以效劳吗？"; type="1";wpadomain="bizapp";</script> <script type="text/javascript" src="http://im.bizapp.qq.com:8000/kf.js?t=110922"></script>

