{{ template "chrome/head.html" . }}
{{ template "chrome/header.html" . }}

<div class="row">
    <div class="col-xs-6 col-md-3">
	<div class="panel panel-default">
	    <div class="panel-heading">企业简介</div>
	    <div class="panel-body">
		123
	    </div>
	</div>
    </div>

    <div class="col-xs-6 col-md-3 jumbotron">
	<div class="panel-default">
	    <div class="panel-heading">最新产品</div>
	    <div class="panel-body">
		123
	    </div>
	</div>
    </div>

    <div class="col-xs-6 col-md-3">
	<div class="panel panel-default">
	    <div class="panel-heading">企业动态</div>
	    <div class="panel-body">
		123
	    </div>
	</div>
    </div>
</div>

{{ template "chrome/footer.html" .}}
