{{ template "chrome/head.html" . }}
{{ template "chrome/header.html" . }}

<div class="row">
    <div class="col-xs-6 col-md-6">
	<div class="panel panel-default">
	    <div class="panel-heading">企业简介</div>
	    <div class="panel-body">
		武汉冠龙顺兴流体商贸有限公司是一家专业销售国内品牌阀门、进口阀门、高中低压阀门、

		蝶阀,球阀,闸阀,截止阀,止回阀,对夹蝶阀,法兰蝶阀,水利控制阀,消防阀门,产品

		主要应该用于化工,石油,水厂,电厂,锅炉厂、于水处理设备、化工设备、石化设备、石

		油设备、造纸设备、采矿设备、电力设备、液化气设备、食品设备、制药设备、给排水设备、

		市政阀门、机械设备阀门、电子工业阀门、城建阀门、工业管道阀门、通用零部件、工业设

		备、消防暖通、中央空调、过滤设备、环保设备等。

		我们将以精益求精、高效务实的精神与您携手合作,一如既往给您提供我们优质的产品和服

		务,与您共同创造美好明天!
	    </div>
	</div>
    </div>

    <!--<div class="col-xs-6 col-md-3 jumbotron">-->
	<!--<div class="panel-default">-->
	    <!--<div class="panel-heading">最新产品</div>-->
	    <!--<div class="panel-body">-->


	    <!--</div>-->
	<!--</div>-->
    <!--</div>-->

    <div class="col-xs-6 col-md-3">
	<div class="panel panel-default">
	    <div class="panel-heading">联系方式</div>
	    <div class="panel-body">
		武汉冠龙顺兴流体商贸有限 </br>
		地址:武汉市汉阳区人信汇5栋3011室. </br>
		邮编:430000 </br>
		电话:13995591699 027-83898685 </br>
		传真: 027-83898685 </br>
		QQ: 411871860 </br>
		E-mail:411871860@qq.com </br>
	    </div>
	</div>
    </div>
</div>

{{ template "chrome/footer.html" .}}
